<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <!-- Close button -->
      <ion-button routerLink="/tabs/home" routerLinkActive="active">
        <ion-icon slot="icon-only" name="arrow-back"></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-title>Record Health</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <div class="ion-padding">
    <form class="form" [formGroup]="healthForm" (ngSubmit)="submitHealthStats()">
      <ion-item>
        <ion-label position="stacked">Steps</ion-label>
        <ion-input type="steps" formControlName="steps" placeholder="Steps for Today"></ion-input>
      </ion-item>

      <ion-item>
        <ion-label position="stacked">Weight (kg)</ion-label>
        <ion-input type="weight" formControlName="weight" placeholder="Weight in kg"></ion-input>
      </ion-item>

      <ion-item>
        <ion-label position="stacked">Water (liters)</ion-label>
        <ion-input type="water" formControlName="water" placeholder="Water in liters"></ion-input>
      </ion-item>

      <ion-item>
        <ion-label position="stacked">Food</ion-label>
        <ion-select formControlName="food" placeholder="Select Food">
            <ion-select-option value="fruit">Fruit</ion-select-option>
            <ion-select-option value="vegetable">Vegetable</ion-select-option>
            <ion-select-option value="protein">Protein</ion-select-option>
            <!-- Add more options as needed -->
        </ion-select>
      </ion-item>   

      <ion-button expand="block" type="submit" style="text-transform: none">Record</ion-button>
    </form>
  </div>
</ion-content>
