<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>Record Health</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <div class="ion-padding">
    <form class="form" [formGroup]="healthForm" (ngSubmit)="submitHealthStats()">
      <ion-item>
        <ion-label position="floating">Steps</ion-label>
        <ion-input type="steps" formControlName="steps" aria-label="Input for Steps"></ion-input>
      </ion-item>

      <ion-item>
        <ion-label position="floating">Weight</ion-label>
        <ion-input type="weight" formControlName="weight" aria-label="Input for Weight"></ion-input>
      </ion-item>

      <ion-item>
        <ion-label position="floating">Water</ion-label>
        <ion-input type="water" formControlName="water" aria-label="Input for Water"></ion-input>
      </ion-item>

      <ion-item>
        <ion-label position="floating">Food</ion-label>
        <ion-input type="food" formControlName="food" aria-label="Input for Food"></ion-input>
      </ion-item>

      <ion-button expand="full" type="submit" style="text-transform: none" class="bottom-button">Record</ion-button>
    </form>
  </div>
</ion-content>
