<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>Sign up</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="card-container">
    <ion-grid>
      <ion-row>
        <ion-col>
            <h3 class="ion-padding-start"> Welcome to HealthQuest ! </h3>

            <form class="form" [formGroup]="signupForm" (ngSubmit)="signup()">
              <ion-item>
                <ion-input 
                label = "Username" 
                labelPlacement="floating" 
                placeholder="Username"
                formControlName = "username"
                autocomplete="off"
                ></ion-input>
              </ion-item>
              <ion-text color="danger" *ngIf="signupForm.get('username')!.hasError('username')" class="ion-padding-start">
                Invalid username.
              </ion-text>
              <ion-text color="danger" *ngIf="signupForm.get('username')!.hasError('required')" class="ion-padding-start">
                Username is required.
              </ion-text>

              <ion-item class="ion-padding-top">
                <ion-input 
                type = "password"
                label = "Password" 
                labelPlacement="floating" 
                placeholder="Password" 
                formControlName = "password"
                autocomplete="off"
                ></ion-input>
              </ion-item>
              <ion-text color="danger" *ngIf="signupForm.get('password')!.hasError('minlength')" class="ion-padding-start">
                Password must be at least 8 characters
              </ion-text>

              <ion-item class="ion-padding-top">
                <ion-input 
                type = "number"
                label="Weight (kg)" 
                labelPlacement="floating" 
                placeholder="Weight"
                formControlName = "weight"
                ></ion-input>
              </ion-item>
              <ion-text color="danger" *ngIf="signupForm.get('weight')!.hasError('min')" class="ion-padding-start">
                Invalid Weight
              </ion-text>

              <ion-item class="ion-padding-top">
                <ion-input 
                type = "number"
                label="Height (cm)" 
                labelPlacement="floating" 
                placeholder="Height"
                formControlName = "height"
                ></ion-input>
              </ion-item>
              <ion-text color="danger" *ngIf="signupForm.get('height')!.hasError('min')" class="ion-padding-start">
                Invalid Height
              </ion-text>

              <ion-item class="ion-padding-top">
                <ion-input 
                label="Date of Birth (dd/mm/yyyy)" 
                labelPlacement="floating"
                placeholder="dd/mm/yyyy"
                formControlName = "dob"
                ></ion-input>
              </ion-item>
              <ion-text color="danger" *ngIf="signupForm.get('dob')!.hasError('pattern')" class="ion-padding-start">
                Invalid Date of Birth.
              </ion-text>

              <div class="ion-margin-top">
                <ion-button (click)="signup()" color="primary" class="ion-margin-top ion-margin-end ion-margin-start"><strong> Register </strong></ion-button>
                <ion-button (click)="login()" color="primary" size="default" fill="outline" class="ion-margin-top"><strong> Login </strong></ion-button>
              </div>
            </form>
        </ion-col>
      </ion-row>
    </ion-grid>
  </div>
</ion-content>