<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Notifications
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-card>
    <ion-card-header>
      <ion-card-title color="primary" style="font-size: xx-large;">
        <ion-icon size="large" name="notifications" [ngStyle]="{'color':'#FFD700'}"></ion-icon> Notifications
      </ion-card-title>
    </ion-card-header>
    <ion-card-content>
      <ion-list [inset]="true" lines="full">
        <!-- Challenge Completed -->
        <ion-item>
          <ion-icon name="notifications" slot="start"></ion-icon>
          <ion-text>Bogus challenge completed</ion-text>
        </ion-item>

        <!-- New friend -->
        <ion-item>
          <ion-icon name="person-add" slot="start"></ion-icon>
          <ion-text>DemonRunner99 wishes to befriend you</ion-text>
        </ion-item>

        <!-- Welcome -->
        <ion-item>
          <ion-icon name="fitness" slot="start"></ion-icon>
          <ion-text>Welcome to HealthQuest !</ion-text>
        </ion-item>

      </ion-list>
    </ion-card-content>
  </ion-card>
</ion-content>
