<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Profile
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Profile</ion-title>
    </ion-toolbar>
  </ion-header>
  <ion-grid class="ion-no-padding">
    <ion-row class="ion-padding-top">
      <ion-avatar class="avatar">
        <img [src]="userInitialDataURL" alt="User Initial" />
      </ion-avatar>
    </ion-row>

    <ion-text class="ion-text-center">
      <h1>{{ userData?.username  ?? '' }}</h1>
    </ion-text>
  
    <ion-row class="profile-head">
      <ion-col class="ion-text-center" size="6" (click) = "openFriendModal()">
        <div><strong><ion-text color="primary">{{ userData?.friends?.length ?? 0 }}</ion-text></strong></div>
        <ion-text>Friends</ion-text>
      </ion-col>
      <ion-col class="ion-text-center" size="6">
        <div><strong><ion-text color="primary">{{ userData?.points ?? 0 }}</ion-text></strong></div>
        <ion-text>Points</ion-text>
      </ion-col>
      <ion-col class="ion-text-center">
        <ion-button expand="block" size="small" class="people-list" shape="round">Add friends</ion-button>
      </ion-col>
      <ion-col class="ion-text-center" *ngIf="userType != 'premium'">
        <ion-button 
        (click)="goPremiumModal()" 
        color="warning" 
        expand="block" 
        size="small" 
        class="people-list" 
        shape="round">Go Premium</ion-button>
      </ion-col>
    </ion-row>

    <ion-card 
    button  
    color="warning" 
    *ngIf="userType != 'premium'"
    (click)="openUSN()">
      <img alt="USN" src="https://cdn.shopify.com/s/files/1/2424/0281/files/USN_LOGO_ReflexBlue.png?height=628&pad_color=ffffff&v=1667397413&width=1200">
      <ion-card-header>
        <ion-card-title>USN Advertisement</ion-card-title>
        <ion-card-subtitle>Click me to 20% off on all USN products</ion-card-subtitle>
      </ion-card-header>
    </ion-card>

    <!-- Settings Section-->
    <h5 class="title">Settings</h5>
    <ion-list style="padding-top: 0;" lines="inset">
      <ion-item button>
        <ion-icon name="moon-outline" class="ion-padding-end"></ion-icon>
        <ion-select #systemTheme
                    label="Theme" 
                    interface="popover"
                    toggleIcon="add"
                    expandedIcon="remove"
                    aria-label="Theme"
                    placeholder="Select Theme"
                    (ionChange)="toggleTheme(systemTheme.value)">
                    >
          <ion-select-option value="light">Light</ion-select-option>
          <ion-select-option value="dark" >Dark</ion-select-option>
        </ion-select>
      </ion-item>
      <ion-item button (click)="logout()">
        <ion-icon name="log-out-outline" class="ion-padding-end"></ion-icon>
        <ion-label>Logout</ion-label>
      </ion-item>
    </ion-list>

    

    <h5 class="title" *ngIf="userMayKnow.length > 0">People you may know</h5>
    <swiper-container
    [slidesPerView] = "2.5"
    >
      <swiper-slide *ngFor="let user of userMayKnow" class="ion-padding-bottom">
        <ion-card class="ion-text-center">
          <ion-card-header style="padding-bottom: 8px">
            <ion-avatar class="person-pic">
              <img src="{{ user.profilePicUrl }}" />
            </ion-avatar>
          </ion-card-header>

          <ion-card-content class="ion-no-padding">
            <ion-text>{{ user.username }}</ion-text>
            <ion-button expand="block" size="small" class="people-list" (click)="friendRequest(user.username)">Request</ion-button>
          </ion-card-content>
        </ion-card>
      </swiper-slide>
    </swiper-container>

    <h5 class="title">Doctors near you</h5>
    <ion-list>
      <ion-item *ngFor="let doctor of nearbyDoctors">
        <ion-label class="ion-text-wrap">
          <h2>{{ doctor.text }}</h2>
          <p>{{ doctor.place_name }}</p>
        </ion-label>
      </ion-item>
    </ion-list>
  </ion-grid>

  <!-- Friend List Modal -->
  <ion-modal #friendsModal>
    <ng-template>
      <ion-header>
        <ion-toolbar>
          <ion-buttons slot="start">
            <ion-button (click)="dismissModal()">
              <ion-icon slot="icon-only" name="arrow-back-outline"></ion-icon>
            </ion-button>
          </ion-buttons>
          <ion-title>Friends</ion-title>
        </ion-toolbar>
      </ion-header>
      <ion-content class="ion-padding">
        <ion-list>
          <ion-item *ngFor="let friend of userData?.friends">
            <ion-label>{{ friend }}</ion-label>
          </ion-item>
        </ion-list>
      </ion-content>
    </ng-template>
  </ion-modal>
</ion-content>
