<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>waterIntake</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">waterIntake</ion-title>
    </ion-toolbar>
  </ion-header>

  <ion-grid>
    <ion-row>
      <ion-col>    
        <ion-input 
          type="number" 
          [(ngModel)]="water" 
          label="Water" 
          label-placement="floating" 
          fill="outline" 
          placeholder="e.g., 1.5"
          (ionChange)="onWaterChange()"
          >
        </ion-input>
      <ion-text color="danger" *ngIf="waterError">
        Invalid weight.
      </ion-text>
    </ion-col>
  </ion-row>
  </ion-grid>

  <ion-button expand="full" (click)="submitWater()" class="bottom-button">Submit</ion-button>
</ion-content>
