<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Notifications
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-card>
    <ion-card-header>
      <ion-card-title color="primary" style="font-size: xx-large;">
        <ion-icon size="large" name="notifications" [ngStyle]="{'color':'#FFD700'}"></ion-icon> Notifications
      </ion-card-title>
    </ion-card-header>
    <ion-card-content>
      <ion-list [inset]="true" lines="full">
        <!-- New friend -->
        <ion-item *ngFor="let friendRequestItem of friendRequestItems">
          <ion-icon name="person-add" slot="start"></ion-icon>
          <ion-text>{{ friendRequestItem.userA }} wishes to befriend you</ion-text>
          
          <ion-button color="success" (click)="acceptFriendRequest(friendRequestItem)">
            <ion-icon name="checkmark-outline"></ion-icon>
          </ion-button>  

          <ion-button color="danger" (click)="declineFriendRequest(friendRequestItem)">
            <ion-icon name="close-outline"></ion-icon>
          </ion-button>  
        </ion-item>

        <!-- Challenge Completed -->
        <ion-item *ngFor="let notificationItem of notificiationItems">
          <ion-icon name="checkmark-circle-outline" slot="start"></ion-icon>
          <ion-text>{{ notificationItem.body }}</ion-text>
        </ion-item>

        <!-- Welcome -->
        <ion-item>
          <ion-icon name="fitness" slot="start"></ion-icon>
          <ion-text>Welcome to HealthQuest !</ion-text>
        </ion-item>

      </ion-list>
    </ion-card-content>
  </ion-card>
</ion-content>
