<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>login</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="card-container">
    <ion-card>
      <ion-row>
        <ion-col>
          <ion-card-header>
            <ion-card-title> Welcome to HealthQuest ! </ion-card-title>
            <ion-card-subtitle>Login</ion-card-subtitle>
          </ion-card-header>

          <ion-card-content>
            <ion-item>
              <ion-input [(ngModel)]="username" label="Username" labelPlacement="floating" placeholder="Username">
                {{ username }}
              </ion-input>
            </ion-item>
            <ion-item>
              <ion-input [(ngModel)]="password" label="Password" labelPlacement="floating" placeholder="Username">
                {{ password }}
              </ion-input>
            </ion-item>
            <ion-button (click)="login()" color="primary"> Sign in </ion-button>
            <ion-button (click)="login()" color="secondary"> Register </ion-button>
          </ion-card-content>
        </ion-col>
      </ion-row>
    </ion-card>
  </div>
</ion-content>