<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>Home</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title>
        Home
      </ion-title>
    </ion-toolbar>
  </ion-header>

  <ion-grid>
    <swiper-container
    [centeredSlides] = "true"
    [pagination] = "true">
      <swiper-slide *ngFor="let challenge of challengeItems" class="ion-padding-bottom">
        <ion-card>
          <ion-card-header>
            <ion-card-title>{{ challenge.name }}</ion-card-title>
            <ion-card-subtitle>{{ challenge.category }} ({{ challenge.type }})</ion-card-subtitle>
          </ion-card-header>

          <ion-card-content>
             <ion-text class="big">{{ challenge.progress }}</ion-text> /{{ challenge.goal }}
            <ion-progress-bar [value]="challenge.progress / challenge.goal"></ion-progress-bar>
          </ion-card-content>
        </ion-card>
      </swiper-slide>
      <swiper-slide class="ion-padding-bottom">
        <ion-card (click)="openChallengeModal()">
          <ion-card-content id="challengeAdd" class="ion-text-center">
            <ion-text class="bigger"><ion-icon name="add-circle-outline"></ion-icon></ion-text>
            <br/>
            <ion-text class="big">Add Challenge</ion-text>
          </ion-card-content>
        </ion-card>
      </swiper-slide>
    </swiper-container>
    <ion-row>
      <ion-col>
        <ion-card>
          <ion-card-header>
            <ion-card-title>Steps</ion-card-title>
          </ion-card-header>

          <ion-card-content>
             <ion-text class="big">3500</ion-text> /5000
            <ion-progress-bar [value]="0.6"></ion-progress-bar>
          </ion-card-content>
        </ion-card>
      </ion-col>
    </ion-row>

    <ion-row>
      <ion-col>
        <ion-card>
          <ion-card-header>
            <ion-card-title>Weight</ion-card-title>
          </ion-card-header>

          <ion-card-content>
           <ion-text class="big">{{ user?.weight }}</ion-text> kg
          </ion-card-content>
        </ion-card>

        <ion-card>
          <ion-card-header>
            <ion-card-title>Food</ion-card-title>
          </ion-card-header>

          <ion-card-content>
          <ion-text class="big">800</ion-text> cal
          </ion-card-content>
        </ion-card>
      </ion-col>
      <ion-col>
        <ion-card class="water-card" style="height:90.55%;">
          <ion-card-header>
            <ion-card-title>Water</ion-card-title>
          </ion-card-header>

          <ion-card-content>
            <div class="water-icon ion-padding-bottom"><ion-icon src="assets/icon/waterDrop.svg" style="font-size:64px;"></ion-icon></div>
            <ion-text class="ion-padding-top big">1.5</ion-text> liters
          </ion-card-content>
        </ion-card>
      </ion-col>
    </ion-row>

    <ion-row>
      <ion-col>
        <ion-card>
          <ion-card-content class="sleep-card">
            <ion-row>
              <ion-col size="6">
                <ion-card-title class="ion-padding-bottom">Sleep</ion-card-title>
                <ion-text class="big">5</ion-text> /9 hours
              </ion-col>
    
              <ion-col size="6" class="ion-text-center">
                <circle-progress
                  [percent]="(5 / 9) * 100"
                  [radius]="50"
                  [outerStrokeWidth]="8"
                  [innerStrokeWidth]="4"
                  [outerStrokeColor]="'#4854e0'"
                  [innerStrokeColor]="'#73a6ff'"
                  [unitsColor]="'#3880ff'"
                  [titleColor]="'#4854e0'"
                  [animation]="true"
                  [animationDuration]="300"
                  [showSubtitle]="false"
                  [units]="'hrs'"
                  [title]="'5'"
                  >
                </circle-progress> 
              </ion-col> 
            </ion-row>      
          </ion-card-content>
        </ion-card>
      </ion-col>
    </ion-row>
  </ion-grid>
  <ion-fab slot="fixed" vertical="bottom" horizontal="end" (click)="navigateToRecordHealthStats()">
    <ion-fab-button>
      <ion-icon name="add"></ion-icon>
    </ion-fab-button>
  </ion-fab>
</ion-content>
