.water-icon {
  display: flex;
  justify-content: center;
  margin-bottom: 20px;
}

.big {
  font-size: 20px;
}

.bigger {
  font-size: 40px;
}

#challengeAdd {
  padding-top: 27px;
  padding-bottom: 27px;
}